<section id="intro" class="relative bg-gradient-to-r from-blue-500 to-purple-600 text-white pt-32" style="background-image: url('img/1.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat; min-height: 120vh; padding-bottom: 8rem;">
    <div class="absolute inset-0" style="background-color: rgba(23, 23, 38, .6);"></div>
    <div class="absolute bottom-0 left-0 right-0 h-32 bg-gradient-to-b from-transparent to-gray-50 z-10"></div>
    <div class="container mx-auto px-6 text-center relative z-10">
        <h1 class="text-5xl md:text-6xl font-bold mb-4" style="font-family: 'Cormorant Garamond', serif;">
            Chelsea & Maximiliano
        </h1>
        <p class="text-l md:text-2xl mb-8 text-gray-300" style="font-family: 'Source Sans Pro', 'Verdana', 'Helvetica', sans-serif;">
             sábado Diciembre 12th, 2026 - Palace Garden, Monterrey.
        </p>
        <button class="bg-white text-blue-600 px-8 py-3 rounded-lg font-semibold hover:bg-blue-200 transition shadow-lg">
            RSVP
        </button>
    </div>
</section>
